@import "./scss/_bootstrap.scss";
@import "./scss/_screenLoader.scss";
@import "./scss/auth.scss";
@import "./scss/create.scss";
@import "./scss/Home.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

#root {
  background-color: #1d3557;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
h1,
h2,
div {
  font-weight: 500;
}
header {
  font-size: 18px;
}
header .navbar-brand {
  font-size: 22px;
}
footer {
  font-size: 20px;
}

.auth-btn {
  position: absolute;
  right: 0px;
  align-self: center;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.note-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
